
@using FastNews.Common
@model List<Models.EF.Category>

<ul class="nav navbar-nav custom_nav">
    @foreach (var item in Model)
    {
        if (@item.MetaTitle != string.Empty && @item.MetaTitle != Commonstants.META_TITLE_HOME.ToLower() && @item.MetaTitle != Commonstants.META_TITLE_HOME.Replace("-"," ").ToLower())
        {
            <li><a href="/the-loai/@item.MetaTitle/@item.CategoryID" target="@item.Target">@item.CategoryName</a></li>
        }
        else
        {
        <li><a href="/" target="@item.Target">@item.CategoryName</a></li>
        }
    }
</ul>