@using FastNews.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Quản lý website tin tức - ADMIN</title>
    <!-- Custom fonts for this template-->
    <link href="/assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/assets/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <style type="text/css">
        .btn_backToClient {
            color: white;
            font-weight: bold;
            background-color: #0759C9;
            text-transform: uppercase;
            font-size: 14px;
            padding: 6px 12px;
            text-decoration: none;
        }
            .btn_backToClient:hover {
                color: white;
                text-decoration: none;
            }
    </style>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        @RenderPage("_Navigation.cshtml")
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                        <a href="/Home/Index" class="btn_backToClient">
                            <span> Web khách hàng </span>
                        </a>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item no-arrow">
                            <a class="dropdown-item" style="padding: 0.5rem 0.25rem" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw text-gray-400"></i>
                                <span style="text-transform: uppercase; font-size: 14px;"> Đăng xuất </span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">@RenderSection("header", required: true)</h1>
                        </div>
                    </div>
                    <!-- Page Heading -->
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Nhóm đề tài viết trang website tin tức bằng .NET MVC</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc là bạn muốn <b>THOÁT</b> ứng dụng?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Thoát</button>
                    @Html.ActionLink("Đồng ý", "Logout", "Home", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="/assets/admin/js/plugins/ckfinder/ckfinder.js"></script>
    <script src="/assets/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/assets/admin/js/sb-admin-2.min.js"></script>
    @*<!-- Page level plugins -->
        <script src="/assets/admin/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="/assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/assets/admin/js/demo/datatables-demo.js"></script>*@
    <link href="/Content/PagedList.css" rel="stylesheet" />
    @*<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>*@
    @RenderSection("jsFooter", required: false)
</body>
</html>