@model FastNews.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="ContactContent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="contact_area">
                <h2 class="text-center">Đăng nhập</h2>
                <div class="contact_bottom" style="font-size: 16px">
                    <div class="contact_us wow fadeInRightBig">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "contact_form" }))
                        {
                            @Html.AntiForgeryToken()
                            if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger" style="margin-top: 10px">
                                    @ViewBag.Error
                                </div>
                            }
                                <div style="margin-top:24px">
                                    @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control textbox_dmc" , @style = "padding: 12px;", @placeholder = "Nhập tên tài khoản..." })
                                </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control textbox_dmc", @style = "padding: 12px;margin-bottom:10px;", @placeholder = "Nhập mật khẩu...", type = "password" })
                            </div>
                            <input type="submit" value="Đăng nhập" class="btn btn_dmc" style="padding: 0 10px; width: 140px;" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
