@using FastNews.Common
@model FastNews.Models.PasswordChangeModel

@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="ContactContent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="contact_area">
                <h2 class="text-center">Đổi mật khẩu</h2>
                <div class="contact_bottom" style="font-size: 16px">
                    <div class="contact_us wow fadeInRightBig">
                        @{
                            var session = (UserLogin)Session[Commonstants.USER_SESSION];
                            var userName = session.UserName;
                        }

                        @using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post, new { @class = "contact_form" }))
                        {

                            @Html.AntiForgeryToken()
                            if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger" style="margin-top: 10px">
                                    @ViewBag.Error
                                </div>
                            }

                            <div style="margin-top: 24px">
                                @Html.TextBox("newPassword","", new { @class = "form-control textbox_dmc", style = "padding: 12px;height: 40px;margin-bottom:10px;width:100%;", placeholder = "Mật khẩu mới...", type = "password" })
                            </div>
                            <div>
                                @Html.TextBox("confirmNewPassword","", new { @class = "form-control textbox_dmc", style = "padding: 12px;height: 40px;margin-bottom:20px;width:100%", placeholder = "Nhập lại mât khẩu mới...", type = "password" })
                            </div>
                            if (session.UserName != null)
                            {
                                <div>
                                    @Html.TextBox("userName", userName, new { style = "display: none" })
                                </div>
                            }
                            <input type="submit" value="Đổi mật khẩu" class="btn btn_dmc" style="padding: 0 10px; width: 140px;" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>